body{
    /* background-color: #00E605 !important; */
    margin: 0;
    padding: 0;
}
.navbar{
    padding: 15px !important;
}
.navbar-brand{
    font-size: 35px !important;
    font-weight: bold;
}
.login-btn{
    /* background-color: green !important; */
    padding: 0 18px 0 18px !important;
    color: white !important;
    font-weight: 500 !important;
    background: linear-gradient(90deg,#00E605 50%,#F7FF9D 100%) !important;
}
.nav-link{
    position: relative;
}
.nav-link::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 5px;
    background-color: green;
    visibility: hidden;
    transition: 0.3s ease-out;
}
.nav-link:hover::before{
    width: 100%;
    visibility: visible;
}

#get-start-btn{
    width: 250px;
    height: 60px;
    padding: 5px 26px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    background: linear-gradient(90deg,#00E605 50%,#F7FF9D 100%);;
    border-radius: 10px;
    margin-top: 84px;
}
.main-container{
    padding: 100px 0 100px 0;
}
.running-image{
    width: 500px;
    max-width: 100%;
    /* max-width: 700px; */
    height: 500px;
}
/* .starting-container{
    height: 600px;
    background-color: #F7FF9D;
} */
.get-start-content{
    padding: 100px 0 0 150px !important;
}
.header{
    font-size: 64px !important;
    font-weight: bold !important;
}
.header-content{
    font-size: 20px;
    font-weight: 400;
}
.data p{
    font-size: 32px;
    font-family: sans-serif;
}
.data h1{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 50px;
}
/* .about-container{
    background-color:#F7FF9D;
} */
.about-para-container{
    padding: 300px 0 0 100px !important;
}
.about-para-container h1{
    font-weight: bold;
    font-size: 50px;
}
.about-para-container p{
    font-weight: 600;
    font-size: 20px;
}
.footer-container{
    padding: 100px 0 100px 0;
    background: linear-gradient(180deg,#00E605 50%,#EBFF00 100%);
}
.form-container{
    width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}
.footer-logo{
    display: flex;
}
.sicial-media-icons{
    font-size: 28px;
    margin-right: 15px;
}
.terms-conditions{
    display: flex;
}
.submit-btn button{
    background-color: black !important;
    color: white  !important;
    padding: 10px 40px 10px 40px;
    font-weight: 500;
    border-radius: 20px;
}
.footer-text-align{
    padding-left: 100px !important;
}
.footer-logo div{
    margin-top: 15px;
    font-weight: bold;
    font-size: 30px;
}
.footer-para p{
    font-size: 18px;
    font-weight: 400;
}
.footer-para{
    border-bottom: 2px solid lightslategrey;
    width: 70%;
}
.terms-conditions div{
    margin-right: 30px;
    font-weight: 500;
    font-size: 18px;
}
.teaching_image{
    width: 500px;
    max-width: 100%;
    height: 700px;
}